nav {
    background-color: #000000;
    padding:5px 0 5px 0;
    margin-bottom: 1rem;
}
a {
    color: white;
}
footer {
    background-color: black;
    padding: 5px 0 5px 0;
}
li{
    display: inline;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}

#yo{
    margin-left: 30%;
    margin-top: 1.10%;
    margin-bottom: 0%;
}



#corps {
    display: flex;  
    flex-flow: row;
    align-items: stretch;

}

#texte{
    width: 100%;
}

#colone{
 background: rgb(158, 158, 158);
 width: 40%;
}

html{
    font-size: 100%;
}

@media screen and (max-width: 768px)
{

    table{
        overflow: auto;
    }

    #colone{
    display: none;
}
    li{
    display: block;

}

    #header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
}
  
    #yo{  
    margin: auto;
    font-size: 1.3rem;
}
    #texte{
        width: 100%;
        overflow: auto;
        font-size: 1.5rem;
    }
    #yes {
        display: none;
    }
}

